/* Header */
.header {
    text-align: center;
    background-color: #383838;
    color: white;
    padding: 5px;
}

form {
    padding-left: 15px;
    padding-right: 0px;
}

.container {
    padding-right: 15px;
    height: 100%;
}

/* Search Bar */

#search {
    background-color: rgb(248, 248, 248);
}

#search-header {
    margin-bottom: 10px;
    margin-top: 10px;
}

#search-bar {
    width: 60%;
}
#search-btn {
    background-color: blue;
}

.fas {
    color: white;
}

/* Search History */
.card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#search-history {
    width: 100%;
}

.card-text {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin-bottom: 0px;
}

hr {
    margin: 0px;
}

/* Weather */
.col-sm-7 {
    padding: 0px;
    position: relative;
    width: 75%;
}

.card-title {
    padding-top: 20px;
    padding-left: 20px;
}

#today {
    height: 350px;
    width: 100%;
    margin-left: 0px !important;
}

#forecast {
    padding-left: 15px;
    width: 100%;
}

.five-day {
    width: 100%;
    display: block;
    background-color: blue;
    color: white;
    margin: 10px;
    margin-top: 0px;
    padding: 0px;
}

.forecast-text {
    padding-left: 10px;
}

#forecast-date {
    padding-top: 20px;
}